<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{#if title}}
            {{{title}}}
        {{else}}
            NYC Court Finder
        {{/if}}
    </title>
    <link rel='stylesheet' href='/public/css/main.css'>
</head>
<body>
    <nav>
        <div class="nav-left-links">
            <a href="/" id="home-log"><p>NYC Court Finder</p></a>
        </div>
        <div class="nav-right-links">
            {{#if user}}
                    <a href="/user/:{{user._id}}"><p class="left-text">Hi, {{user.firstName}}</p></a>
                    <a href="/user/logout"><p>Logout</p></a>
            {{else}}
                    <a href="/user/login"><p class="left-text">Login</p></a>
                    <a href="/user/register"><p>Sign Up</p></a>
            {{/if}} 
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>
        <a href="https://opendata.cityofnewyork.us/">Powered by NYC Open Data</a>
        <p>&copy; 2023 NYC Court Finder</p>
    </footer>
</body>
</html>