<!DOCTYPE html>
<html lang="en">
<title>{{{title}}}</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Court Finder</title>
    <link rel='stylesheet' href='/public/css/main.css' />
</head>
<body>
    <nav>
        <div class="nav-left-links">
            <a href="/" id="home-log"><p>NYC Court Finder</p></a>
        </div>
        <ul>
            {{#if user}}
                <div class="nav-right-links">
                    <a href="/user/:{{user._id}}">Hi, {{user.firstName}}</a>
                    <a href="/user/logout">Logout</a>
                </div>
            {{else}}
                <div class="nav-right-links">
                    <a href="/user/login">Login</a>
                    <a href="/user/register">Sign Up</a>
                </div>
            {{/if}}
        </ul>
    </nav>
        {{{body}}}
    <footer>
        <a href="https://opendata.cityofnewyork.us/" alt="NYC Open Data Link">Powered by NYC Open Data</a>
        <p>&copy; 2023 NYC Court Finder</p>
    </footer>
</body>
</html>