<section class="court-details">
    <h1>NYC Court Finder</h1>
    <h2>{{courtName}}</h2>
    <p>Address: {{address}}</p>
    <p>Rating: {{overallRating}}</p>
    <div id="map">
        <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDFFwqO140DVnI3leB_luDuu3133GDLfaI
                &q={{latitude}},{{longitude}}">
        </iframe>
    </div>
    
</section>
<br>
<h2>Pick Up Games:</h2>
<section>
    <div id="pick-up-games">
        {{#each pickUpGames}}
  <div class="game">
    <p>Game at {{courtName}}</p>
    <p>Date: {{date}}</p>
    <p>Time: {{time}}</p>
    <p>Max Players: {{maxPlayers}}</p>
    <p>Players Joined: {{gameMembers.length}}</p>
  </div>
{{/each}}
    </div>
</section>
<p>Court Reviews:</p>