{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{else}}
  <script>
    const message = `Game Created!\n\nCourt Name: {{courtName}}\nDate: {{date}}\nTime: {{time}}\nMax Players: {{maxPlayers}}\nGame Members:\n{{#each gameMembers}}{{fullName}}\n{{/each}}`;
    window.alert(message);
    window.location.href = "{{link}}";
  </script>
{{/if}}
