{{!-- If statement to display the passed error message --}}
{{#if errorMessage}}
    {{#if status}}
        <h1>{{statusCode}}: {{errorMessage}}</h1>
    {{else}}
        <h1>{{errorMessage}}</h1>
    {{/if}}
{{else}}
    <h1>Undefined error</h1>
{{/if}}