
<h1>Basketball Court Finder</h1>
<section id="search-bar">
  <div class="search-bar">
    <form id="searchForm">
      <label class="button_text" for="searchField">Search Courts: </label>
      <input type="text" id="searchField" name="searchTerm" placeholder="Type a court name or nyc area zipcode to search for." required>
      <button class="button" type="submit">Search</button>
    </form>
  </div>
</section>
<div class="basketball-courts">
  <h2>Trending Pick Up Games</h2>
  {{#each trendingGameList}}
    <div class="trending-game">
      <a href="game/gameDetails/{{this._id}}">
        <h4>{{this.courtName}}</h4>
      </a>
      <p>{{this.location}} - {{this.date}} - {{this.time}}</p>
    </div>
  {{/each}}
</div>

<script>
  const searchForm = document.getElementById('searchForm');
  searchForm.addEventListener('submit', (event) => {
    event.preventDefault(); 

    const searchField = document.getElementById('searchField');
    const searchText = searchField.value.trim();
    window.location.href = `http://localhost:3000/search/${searchText}`;
  });
</script>





