<div class="gameInformation">
  <h1>PickUp Game at:</h1>
  <a href="/courts/{{gameDetails.courtID}}"><h2>{{gameDetails.courtName}}</h2></a>
  <p>Host: {{Host}}</p>
  <p>Date: {{gameDetails.date}}</p>
  <p>Time: {{gameDetails.time}}</p>
  <p>Max Players: {{gameDetails.maxPlayers}}</p>
  <p>Players Joined: {{gameDetails.gameMembers.length}}</p>
</div>

  {{!-- List of all of the current game members --}}
  <p>Player List:</p>
  <ul class="player-list">
    {{#each gameDetails.gameMembers}}
      <li class="player">{{this.fullName}}</li>
    {{/each}}
  </ul>

{{!-- Section to display error messages --}}
<div id='error-container' hidden></div>

{{!-- RSVP button --}}
<!-- Prevents guests from seeing the join button -->
{{#if user}}
  {{#if userIsGameMember}}
    {{!-- Button to unjoin the game --}}
    <div class="gameJoinForm">
      <button class="joinButton" type="button">Unjoin</button>
    </div>
  {{else}}
    {{!-- Button to join the game --}}
    <div class="gameJoinForm">
      <form action="/game/addUser/{{gameDetails._id}}" method="post">
        <input type="hidden" name="gameId" value="{{gameDetails._id}}">
        <button class="joinButton" name="rsvpButton" type="submit">RSVP</button>
      </form>
    </div>
  {{/if}}
{{else}}
{{/if}}

{{!-- Script for a button event caller --}}
<script src="/public/js/pickUpGames.js"></script>
