<div class="gameInformation">
  <h2>PickUp Game at <a href="/courts/{{gameDetails.courtID}}">{{gameDetails.courtName}}</a></h2>
  <p>Host: {{Host}}</p>
  <p>Date: {{gameDetails.date}}</p>
  <p>Time: {{gameDetails.time}}</p>
  <p>Max Players: {{gameDetails.maxPlayers}}</p>
  <p>Players Joined: {{gameDetails.gameMembers.length}}</p>

  {{!-- List of all of the current game members --}}
  <p>Player List:</p>
  <ol>
    {{#each gameDetails.gameMembers}}
      <li>{{this.fullName}}</li>
    {{/each}}
  </ol>
</div>

{{!-- Section to display error messages --}}
<div id='error-container' hidden></div>

{{!-- RSVP button --}}
<!-- Prevents guests from seeing the join button -->
{{#if user}}
  {{#if userIsGameMember}}
    {{!-- Button to unjoin the game --}}
    <div class="gameJoinForm">
      <button id="unjoinButton" type="button">Unjoin</button>
    </div>
  {{else}}
    {{!-- Button to join the game --}}
    <div class="gameJoinForm">
      <form action="/game/addUser/{{gameDetails._id}}" method="post">
        <input type="hidden" name="gameId" value="{{gameDetails._id}}">
        <button name="rsvpButton" type="submit">RSVP</button>
      </form>
    </div>
  {{/if}}
{{else}}
{{/if}}

{{!-- Script for a button event caller --}}
<script src="/public/js/pickUpGames.js"></script>
